.home-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  font-family: "Inter", sans-serif;
  .items-category{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2vw;
    // padding-bottom: 4vh;
    
    .category-item{
      
      .item-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Inter", sans-serif;
        border: 1px solid var(--color-main);
        border-radius: 8px;
        outline: none;
        background-color: white;
        color: var(--color-main);
        width: 4.4vw;
        height: 4.4vw;
        
        svg{
          width: 1vw;
          height: 1vw;
        }
        p{
          font-size: clamp(0.3rem, 0.2077rem + 0.4103vw, 0.7rem);
          font-weight: 500;
          letter-spacing: 0.2px;
          padding-top: 1vh;
          @media only screen and (max-width: 1024px) {
            display: none;
          }
        }
      }
    }
  }
  .home-wrapper{
    height: 100%;
    width: 100%;
    
    .home-banner{
      width:100%;
      height: 25vw;
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr;
      grid-column-gap: 1.5%;
      grid-template-rows: 1fr;
      justify-content: space-between;
      font-family: "Aileron";
      color: white;
      a{
        color: white;
      }
      .center-text{
        width: 80%;
        position: absolute;
        left: 2.5vw;
        top: 2.5vw;
        h2{
          font-weight: 600;
          font-size: clamp(0.5rem, 0.2692rem + 1.0256vw, 1.5rem);
          padding-top: 5px;
          line-height: 1.6vw;
        }
        p{
          font-weight: 100 !important;
          letter-spacing: 1px;
          color: white;
          font-size: 1rem;
        }
      }
      .left{
        height: 100%;
        max-height: 600px;
        width: 100%;
        background-image: url("../../assets/images/experiences-banner.jpg");
        background-size: cover;
        background-position: center;
      }
      .right{
        height: 100%;
        max-height: 600px;
        width: 100%;
        background-image: url("../../assets/images/groups-banner.jpg");
        background-size: cover;
        background-position: 0 40%;
        background-repeat: no-repeat;
      }
      .banner-side:first-child{
        // background-image: url("../../assets/images/experiences-banner.jpg");
        // background-size: cover;
        // background-position: center;
        
      }
      .banner-side:last-child{
        // background-image: url("../../assets/images/groups-banner.jpg");
        // background-size: cover;
        // background-position: 0 40%;
        // background-repeat: no-repeat;
      }
      // .banner-side .center-text{
      //   width: 60%;
      // }
      // .banner-center .center-text{
      //   width: 50%;
      // }
      .banner-center{
        // width: 41%;
        height: 100%;
        width: 100%;
        border-radius: 25px;
        background-image: url("../../assets/images/courts-banner.jpg");
        background-size: cover;
        border: 1px solid #A8A8A8;
        
        position: relative;
        // filter:brightness(90%);
        filter: contrast(102%);
        max-height: 600px;
      }
      .banner-side{
        // width: 28%;
        border: 1px solid #A8A8A8;
        background-color: #313131;
        border-radius: 25px;
        position: relative;
      }
    }
    .home-categories{
      width: 90%;
      display: flex;
      justify-content: space-between;
      padding-top: 3vh;
      display: none;
      .category{
        border: 1px solid var(--color-main);
        color: var(--color-main);
        border-radius: 25px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 13px;
      }
    }
    .popular-section{
      width: 100%;
      height: 30vw;
      padding-top: 2vw;
      // margin: 5vh 0;
      font-family: "Aileron";
      overflow: hidden;
      @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 100%;
      }
      h2{
        font-size: clamp(0.8rem, 0.6385rem + 0.7179vw, 1.5rem);
      }
      // padding-bottom: 5vw;
      .popular-items{
        padding-top: 1vw;
        max-width: 100%;
        width: 100%;
        height: 22vw;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 1.2%;
        
        @media only screen and (max-width: 1500px) {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
        @media only screen and (max-width: 1366px) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          // height: 22vw;
        }
        @media only screen and (max-width: 1024px) {
          grid-template-columns: 1fr 1fr 1fr;
          // height: 22vw;
        }
        @media only screen and (max-width: 767px) {
          height: 100%;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          // height: 22vw;
        }
        @media only screen and (max-width: 480px) {
          height: 100%;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
          // height: 22vw;
        }
        a{
          text-decoration: none;
        }
        .item{
          width: 100%;
          height: 75%;
          background-size: cover;
          font-weight: 300;
          letter-spacing: 0.5px;
          @media only screen and (max-width: 767px) {
            height: 60%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            // height: 22vw;
          }
          .item-image{
            height: 100%;
            width: 100%;
            border-radius: 15px;
            border: 1px solid #A8A8A8;
            object-fit: cover;
            
          }
          .item-heading{
            display: flex;
            align-items: center;
            font-size: clamp(0.5rem, 0.3731rem + 0.5641vw, 1.05rem);
            color: #000000;
            padding-top: 0.5rem;
            font-weight: 500;
          }
          .item-location{
            padding-top: 0.7vh;
            font-size: 15.5px;
            color: gray;
          }
          .item-price{
            padding-top: 0.9vh;
            font-size: 14.5px;
            display: flex;
            color: black;
            .price-bold{
              font-weight: 500 !important;
              
            }
          }
          
        }
        
        // width: 100%;
        // height: 72.1%;
        // display: grid;
        // grid-template-rows: 1fr;
        // grir-template-columns: 1fr 1fr;
  
        // margin: 2.5vh 0;
        // .item{
        //   height: 100%;
        //   width: 15.9%;
        //   background-color: blue;
        //   border-radius: 18px;
        //   img{
        //     width: 100%;
        //     border-radius: 18px;
        //   }
        // }
      }
    }
  }
  
  
}