@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

.landing-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F8F8;
  li{
    list-style: none;
  }
  .landing-banner{
    width: 67%;
    position: relative;
    h1{
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 700;
      font-size: 58px;
      letter-spacing: -1px;
      position: absolute;
      bottom: 70px;
      left: 70px;
      color: white;
      text-shadow: 8px 10px 25px #0000006c;
    }
    .landing-image{
      img{
        max-width: 100%;
        filter: contrast(1.05)
      }
    }
    .event-popup{
      position: absolute;
      height: 200px;
      width: 200px;
      background: #ff2525;
      border-radius: 150px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 138px;
      color: white;
      bottom: 0;
      transform: translateY(102px);
      .event-contents{
        font-family: 'Noto Sans JP', sans-serif;
        p, span{
          font-size: 15px;
          font-weight: 200;
        }
        .number{
          font-size:30px;
          font-weight: 700;
        }
      }
    }
    
  }
  
  .landing-categories{
    height: 100%;
    width: 67%;
    margin-top: 40px;
    .category-contents{
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      margin-top: 25px;
      :nth-child(1) {
        background-color: #f56f60;
      }
      :nth-child(2) {
        background-color: #64A369;
      }
      :nth-child(3) {
        background-color: #7DE3EA;
      }
      :nth-child(4) {
        background-color: #667BB1;
      }
      :nth-child(5) {
        background-color: #ECCB7C;
      }
      :nth-child(6) {
        background-color: #f19a5f;
      }
      .category{
        height: 100px;
        width: 100%;
        font-family: 'Noto Sans JP', sans-serif;
        display: flex;
        justify-content: center;
        font-weight: 500;
        font-size: 20px;
        align-items: center;
        border-radius: 13px;
        text-align: center;
        color: white;
        letter-spacing: 1px;
        transition: transform 0.3s ease-out;
      }
      .category:hover {
        transform: scale(0.97);
        cursor: pointer;
      }
    }
    
  }
  .section-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .section-title{
      h4{
        color: #ACACAC;
        font-family: 'Aileron';
        font-weight: 300;
        font-size: 17px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
      }
      h2{
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #494949;
      }
    }
  }
  
  .section-all{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    :hover{
      cursor: pointer;
    }
    p{
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
    .expand-icon{
      border-radius: 50px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: 1px solid rgb(63, 63, 63);
      .arrow-icon{
        color: rgb(63, 63, 63);
      }
    }
    
    
  }

  .gallery-image{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-radius: 15px;

    img{
      height: 100%;
      width: 100%;
      filter: brightness(95%);
      transition: transform 0.4s ease-out;
      transform: scale(1.05);
      border-radius: 15px;
    }
  }

  .gallery-image:hover img{
    -webkit-transform:scale(1);
    border-radius: 15px;
    cursor: pointer;
  }
  .landing-gallery{
    height: 100%;
    width: 67%;
    display: flex;
    flex-direction: column;
    
    .section-gallery{
      margin-top: 40px;
      .section-contents{
        padding-top: 25px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 2.2%;
        .gallery-item{
          width: 100%;
          max-width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: hidden;
          .item-text{
            position: absolute;
            pointer-events:none;
            height: 85%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // bottom: 30px;
            left: 8%;
            color: white;
            font-family: 'Aileron';
            letter-spacing: 0.5px;
            z-index: 100;
            h5{
              font-weight: 300;
            }
            h6{
              font-weight: 300;
            }
            .item-bottom{
              height: 14%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
          }

          


          

          
          
        }
        

        .gallery-label{
          width: 100%;
        }


        .gallery-header{
          img{
            width: 60px;
          }
        }
        
      }
      
    }
  }
  .section-services{
    width: 100%;
    margin-top: 40px;
    .service-gallery{
      width: 100%;
      max-width: 100%;
      margin-top: 35px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 2.2%;
      .service-item{
        width: 100%;
        position: relative;
        img{
          width: 100%;
          border-radius: 15px;
          filter: brightness(70%);
        }
        .service-title{
          z-index: 1000;
          position: absolute;
          top: 100px;
          left: 40px;
          color: white;
          h5{
            font-family: 'Aileron';
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-size: 15px;
          }
          h2{
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: 700;
            font-size: 26px;
          }
        }
      }
    }
  }
  hr{
    margin-top: 150px;
    width: 100%;
    
    color: white;
  }
  .section-footer{
    margin-top: 40px;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #444444;
    .footer-left{
      width: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        font-size: 14px;
        font-family: 'Noto Sans JP', sans-serif;
      }
    }
    .footer-right{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      font-family: 'Aileron';
      h2{
        font-size: 40px;
        font-weight: 400;
        letter-spacing: -2px;
      }
    }
  }
}