@import "./colors.scss";

$color-primary: #3269F5;

._fs{
  &-10{font-size: 10px !important}
  &-12{font-size: 12px !important}
  &-14{font-size: 14px !important}
  &-16{font-size: 16px !important}
  &-18{font-size: 18px !important}
  &-20{font-size: 20px !important}
  &-22{font-size: 22px !important}
  &-24{font-size: 24px !important}
  &-26{font-size: 26px !important}
  &-28{font-size: 28px !important}
  &-30{font-size: 30px !important}
}

._fw{
  &-100{font-weight: 100 !important}
  &-200{font-weight: 200 !important}
  &-300{font-weight: 300 !important}
  &-400{font-weight: 400 !important}
  &-500{font-weight: 500 !important}
  &-600{font-weight: 600 !important}
  &-700{font-weight: 700 !important}
  &-800{font-weight: 800 !important}
  &-900{font-weight: 900 !important}
}

._ls{
  &-0{letter-spacing: 0.5px !important}
  &-1{letter-spacing: 1px !important}
  &-1.5{font-weight: 1.5px !important}
}