.home-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  font-family: "Inter", sans-serif;
  .home-wrapper{
    height: 100%;
    width: 100%;
    
    .home-banner{
      width:100%;
      height: 53vh;
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr;
      grid-column-gap: 1.5%;
      grid-template-rows: 1fr;
      justify-content: space-between;
      font-family: "Aileron";
      color: white;
      .center-text{
        width: 80%;
        position: absolute;
        left: 50px;
        top: 50px;
        h2{
          font-weight: 600;
          font-size: 25px;
          padding-top: 5px;
          line-height: 3.3vh;
        }
        p{
          font-weight: 100 !important;
          letter-spacing: 1px;
          color: white;
          font-size: 14px;
        }
      }
      .banner-side:first-child{
        background-image: url("../../assets/images/experiences-banner.jpg");
        background-size: cover;
        background-position: center;
      }
      .banner-side:last-child{
        background-image: url("../../assets/images/groups-banner.jpg");
        background-size: cover;
        background-position: 0 40%;
        background-repeat: no-repeat;
      }
      // .banner-side .center-text{
      //   width: 60%;
      // }
      // .banner-center .center-text{
      //   width: 50%;
      // }
      .banner-center{
        // width: 41%;

        border-radius: 25px;
        background-image: url("../../assets/images/courts-banner.jpg");
        background-size: cover;
        border: 1px solid #A8A8A8;
        
        position: relative;
        // filter:brightness(90%);
        filter: contrast(102%);
        
      }
      .banner-side{
        // width: 28%;
        border: 1px solid #A8A8A8;
        background-color: #313131;
        border-radius: 25px;
        position: relative;
      }
    }
    .home-categories{
      width: 90%;
      display: flex;
      justify-content: space-between;
      padding-top: 3vh;
      .category{
        border: 1px solid var(--color-main);
        color: var(--color-main);
        border-radius: 25px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 13px;
      }
    }
    .popular-section{
      width: 100%;
      height: 50vh;
      margin: 5vh 0;
      font-family: "Aileron";
      padding-bottom: 2%;
      .popular-items{
        padding-top: 2vh;
        max-width: 100%;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 1.2%;
        .item{
          width: 100%;
          height: 75%;
          background-size: cover;
          font-weight: 300;
          letter-spacing: 0.5px;
          .item-image{
            height: 100%;
            width: 100%;
            border-radius: 15px;
            border: 1px solid #A8A8A8;
            object-fit: cover;
            
          }
          .item-heading{
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #808080;
            margin: 5px 0;
            .item-rating{
              display: flex;
              align-items: center;
              margin: 0 2px;
              :nth-child(1){
                color: black;
              }
            }
            img{
              width: 14px;
            }
          }
          .item-location{
            margin: 5px 0;
            font-size: 15.5px;
          }
          .item-price{
            margin: 10px 0;
            font-size: 14.5px;
            display: flex;
            .price-bold{
              font-weight: 500 !important;
              
            }
          }
          
        }
        
        // width: 100%;
        // height: 72.1%;
        // display: grid;
        // grid-template-rows: 1fr;
        // grir-template-columns: 1fr 1fr;
  
        // margin: 2.5vh 0;
        // .item{
        //   height: 100%;
        //   width: 15.9%;
        //   background-color: blue;
        //   border-radius: 18px;
        //   img{
        //     width: 100%;
        //     border-radius: 18px;
        //   }
        // }
      }
    }
  }
  
  
}